<?xml version="1.0"?>
<launch>
	<env name="LC_NUMERIC" value="en_US.UTF-8"/>

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
	</include>

	<param name="robot_description" textfile="$(find robot_description)/urdf/robot.urdf"/>
	
	<node name="spawn_robot" pkg="gazebo_ros" type="spawn_model"
		args="-urdf -model myrobot -param robot_description -z 1">
	</node>

</launch>

